*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
.header-first{
    background-color: rgb(19, 94, 242);
}
.container{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
}
h1{
    font-size: 16px;
    color: white;
    font-weight: 600;
}
nav{
    display: flex;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    align-items: center;
}
a{
    text-decoration: none;
}
nav a{
    color: white;
    text-decoration: none;
    border-left: solid rgba(255, 255, 255, 0.397) 1px;
    padding: 12px 10px;
}
nav a span{
    margin-left: 5px;
}
nav a i{
    font-size: 14px;
}
.social a:first-child{
    border-left: solid rgba(255, 255, 255, 0.397) 1px;
    padding: 12px 0 12px 10px;
}
.social a{
    border-left: none;
    margin-right: 10px;
    padding: 0;
    font-size: 15px;
}
/****head second*******************************************/
.container-header-second{
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: white;
}
.header-second{
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
    gap: 25px;
    max-width: 90%;
    background-color: white;
    height: 94px;
}

.header-second img{
    width: 122px;
    margin-left: -10px;
    transition: 0.2s ease;
}
.scrolled{
    height: 80px;
    box-shadow: 8px 8px 18px -15px #00000091;
    transition: 0.2s ease;
}
.scrolled img{
    width: 80px;
}
.scrolled-height{
    height: 80px;
}
.navigation{
    display: flex;
    align-items: center;
    gap: 20px;
}
.navigation .visible-a{
    text-transform: uppercase;
    font-size: 11px;
    color: rgb(41, 41, 41);
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: 0.2s ease-in;
}
.navigation .visible-a:hover{
    color: rgb(19, 94, 242);
}
.navigation .visible-a .fa-chevron-down{
    font-size: 5px;
}
.deroulement{
    position: relative;
    transition: 0.3s ease-in;
}
.deroulement::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 50px; /* Étendre verticalement sans modifier le design */
}
.deroulement:hover .toggle{
    display: flex;
}
.toggle{
    display: flex;
    flex-direction: column;
    position: absolute;
    box-shadow: 8px 8px 18px -15px #00000091;
    width: 350px;
    padding: 15px 30px;
    margin-top: 30px;
    background-color: white;
    transition: ease 0.3s;
}
.toggle a{
    color: rgb(19, 94, 242);
    font-weight: 600;
    display: flex;
    gap: 15px;
    align-items: center;
    font-size: 16px;
    margin: 5px 0px;
    transition: ease-in 0.3s;
}
.toggle a:hover{
    color: rgb(141,195,242);
}
.deroulement:hover .visible-toggle{
    color: rgb(19, 94, 242);
}
.ecrite{
    display: none;
}
.oral{
    display: none;
    width: 310px;
}

/*****************************main tarifs***********************************/
.tarifs{
    border: 1px solid #000;
    background:linear-gradient(to bottom,rgb(24,98,242),rgb(46,112,242)) ;
    color: rgb(242,242,242);
    text-align: center;
    height: 200px;
    font-size: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tarifs h2{
    font-weight: 600;
    text-align: center;
}
.tarifs-abonnements{
    width: 80%;
    max-width: 80%;
    margin: 43px auto;
}
.presentation-tarifs{
    height: 90px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.presentation-tarifs h2{
    color: rgb(43,43,43);
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
}
.presentation-tarifs h2 span{
    color: rgb(19, 94, 242);
}
.presentation-tarifs h3{
    color: rgb(109,81,109);
    font-weight: 400;
    font-size: 20px;
}
.card-tarifs-abonnements{
    display: flex;
    gap: 20px;
    width: 1110px;
    max-width: 95%;
    justify-content: center;
    margin: 40px auto 0px;
}
.bronze,.silver,.gold{
    border: 1px solid rgb(48,113,242);
    border-radius: 10px;
    width: 350px;
    box-shadow: 2px 5px 8px 3px rgb(187,187,187);
    transition: 0.3s ease;
}
.animation-card-abonnements:hover{
    transform: translateY(-10px);
}
.head{
    position: relative;
    text-align: center;
    color: rgb(242,242,242);
    background-color: rgb(19, 94, 242);
    font-size: 24px;
    font-weight: 600;
    padding: 40px 10px;
    border-radius: 10px 10px 0 0;
    color: rgb(242,242,242);
}
.bande{
    position: absolute;
    transform: rotate(45deg);
    clip-path: polygon(17.8% 0, 82.5% 0, 100% 100%, 0% 100%);
    width: 147px;
    font-size: 13px;
    right: -30px;
    top: 30px;
    text-transform: uppercase;
    padding: 5px;
}
.bronze .bande{
    background-color: rgb(242,142,28);
}
.silver .bande{
    background-color: rgb(186,186,186);
}
.gold .bande{
    background-color: rgb(222,208,28);
}

.contain-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin: auto;
    text-align: center;
    /* gap: 20px; */
}
.price{
    display: flex;
    justify-content: center;
    color: #555;
    padding: 25px;
    font-weight: 600;
}
.price .number{
    font-size: 65px;
}
.price .cent{
    font-size: 18px;
    align-self: baseline;
    margin-top: 10px;
}
.price .dollar{
    font-size: 35px;
    align-self: center;
}
.text{
    padding: 15px 0px;
    color: #515151;
    border-bottom: solid 1px #5151514f;
    font-size: 15px;
}
.text-last-child{
    margin-bottom: 20px;
}
.sabonner{
    border-radius: 20px;
    text-align: center;
    height: 44px;
    padding: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: linear-gradient(to right,rgb(127,183,242),rgb(31,107,207));
    width: 157px;
    text-transform: uppercase;
    margin: 20px auto;
}
.sabonner a{
    color: white;
    font-weight: 600;
}
.acces{
    margin: 5px 0px;
    color: rgb(43,43,43);
    font-weight: 700;
}
.contain-card .black{
    color: rgb(43,43,43);
    font-weight: 700;
}
.contain-card .blue{
    color: rgb(19, 94, 242);
    font-weight: 700;
}
.contain-card .grey{
    font-weight: 600;
}


/***********************footer**************************/
footer{
    margin-top: 55px;
    padding: auto;
    color: white;
}
.footer-first{
   background: linear-gradient(to bottom,rgb(21,95,242),rgb(41,108,242));
   padding: 10px 0;
}

.contain{
    width: 90%;
    max-width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}
.pages{
    width: 300px;
    margin-right: 30px;
}
.pages a{
    font-size: 15px;
}
.compte{
    width: 350px;
    margin-right: 35px;
}
.compte h3, .social2 h3,.propos h3{
    font-size: 20px;
}
.parametre{
    background-color: rgb(19,94,242);
    display: flex;
    flex-direction: column;
    font-weight: 600;
    margin-left: 10px;
}
.parametre a{
    color: white;
    transition: 0.3s ease-in;
    padding: 20px;
}
.parametre a i{
    margin-right: 5px;
}
.parametre a:hover{
    color: rgb(41, 41, 41);
    background-color: white;
}
.blocks{
    margin-right: 10px;
}
.pages h3{
    letter-spacing: 3px;
}
.options a, .suite a{
    color: white;
    border-bottom: solid 1px white;
    padding:  15px 0;
    display: flex;
    gap: 10px;
    align-items: center;
}
.suite{
    width: 90%;
    font-size: 15px;
}
.options a:last-child,.suite a:last-child{
    border-bottom: none;
}
.footer-first .options, .parametre,.suite{
    display: flex;
    flex-direction: column;
}
.propos p{
    width: 300px;
    font-size: 15px;
    line-height: 25px;
}
footer h3{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}
.social2{
    margin-bottom: 20px;
}
.links-socials-network{
    margin: 25px 0px;
}
.links-socials-network a{
    padding: 10px 15px;
    border-radius: 200px;
    margin: 0 2px;
    font-size: 20px;
    color: white;
}
.paiements{
    display: flex;
    flex-direction: column;
}
.paiements .clique{
    color: black;
    background-color: white;
    width: 100%;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 15px;
    padding: 10px 0px;
    transition: 0.3s ease-in;
    text-align: center;
    border-radius: 8px;
    font-weight: 600;
}
.paiements .clique:hover{
    transform: scale(0.9);
}
.accepter{
    width: 280px;
    margin-bottom: 10px;
}
.mode-paiements-footer-first{
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 310px;
    height: 290px;
}
.mode-paiements-footer-first div{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.mode-paiements-footer-first img{
    width: 120px;
    margin: 5px;
}
.footer-second{
    display: flex;
    color: rgba(0, 0, 0, 0.623);
    align-items: center;
    padding: 20px 0px;
    font-size: 11px;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
.footer-second a{
    color: #141414d7;
    font-weight: 600;
}